doctype html
html
    head
        meta(charset="UTF-8")
        title= htmlWebpackPlugin.options.title
    body
        div#header
            h1 这是标题

        div#main
            nav
                ul
                    li abc
                    li abc2
                    li abc3
        div#content