doctype html
html
    head
        meta(charset="UTF-8")
        title= htmlWebpackPlugin.options.title
        //link(href="build/react.js")
        //link(href="build/react-dom.js")
    body
        div#header
            h1 Flux TodoMVC 示例

        section#todoapp

        footer#info
            p Double-click to edit a todo
            p Created by
                a(href="http://facebook.com/bill.fisher.771")  Bill Fisher
            p Part of
                a(hreft="http://todomvc.com") TodoMVC
