doctype html
html
    head
        meta(charset="UTF-8")
        title= htmlWebpackPlugin.options.title
    body
        div#header
            h1 React Demo
            p 完整的React 示例，包含React ,React-router,Flux

        div#app

        div hhhhhh