doctype html
html
    head
        meta(charset="UTF-8")
        title= htmlWebpackPlugin.options.title
    body
        div#header
            h1 这是标题
            p 这是内容啦SN<br>
                a(href='#') 这个你点点试试

        div#main
            nav
                ul
                    li abc
                    li abc2
                    li abc3
        div#content
        h1 aaa
        button#btn clickAA